.signUpPageContainer{
  /* border: 1px solid orangered; */
  min-height: 100svh;
  place-content: center;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  gap: 1.5rem;
  background-color: hsla(60, 1%, 86%, 0.5);
}

.messageFormWrapper{
  /* border: 1px solid blueviolet; */
  /* border: 3px solid #777; */
  padding: 3rem;
  border-radius: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.signUpMessageWrapper{
  margin-top: 10px;
  margin-bottom: 30px;
}

.signUpMessageWrapper h2{
  font-size: 2rem;
  font-weight: 700;
}

.signUpMessageWrapper p{
  font-style: italic;
  font-weight: 500;
}

.nameWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.inputFieldWrappers{
  margin-top: 10px;
}

.fieldInputs{
  border: 1px solid #777;
  border-radius: 7px;
  padding: 10px;
  /* display: block; */
  min-width: 100%;
}

.fieldInputs:placeholder-shown{
  font-style: italic;
}

.signUpButtonWrapper{
  margin-top: 30px;
}

.signUpButton{
  background-color: #574423;
  color: antiquewhite;
  border-radius: 7px;
  padding: 10px;
  display: block;
  min-width: 100%;
  transition: .3s ease-in-out;
}

.signUpButton:hover{
  background-color: hsla(211, 67%, 47%, 0.724);
}

.signUpButton:active{
  letter-spacing: 3px;
  background-color: hsla(76, 67%, 47%, 0.724);
}

.signupImg{
  border-radius: 14px;
  margin: auto;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px){
  .signupImageWrapper{
    display: none;
  }

  .signUpPageContainer {
    display: block;
  }

}

@media screen and (max-width: 768px){
  .nameWrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
}