.welcomeWrapper{
  /* border: 1px solid tomato; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  min-height: 100dvh;
}

.canoeImage{
  /* border: 1px solid red; */
  /* border-radius: 1rem; */
}

.loginSignUpWrapper{
  /* border: 1px solid lime; */
  padding: 0 30px;
  place-content: center;  
}

.welcomeMessageWrapper{
  margin-top: 10px;
  /* border: 1px solid orange; */
  width: 100%;
}

.welcomeMessageWrapper h2{
  font-size: 2rem;
  font-weight: 700;
}

.welcomeMessageWrapper p{
  font-style: italic;
  font-weight: 500;
}

.formWrapper{
  margin-top: 3rem;
}

.inputFieldWrappers{
  margin-top: 10px;
}

.fieldInputs{
  border: 1px solid #777;
  border-radius: 7px;
  padding: 10px;
  display: block;
  min-width: 100%;
}

.joinNowLink{
  font-weight: bold;
  text-decoration: underline;
  color: orangered;
  transition: .3s ease-in-out;
}

.joinNowLink:hover{
  color: hsla(211, 67%, 47%, 0.724)
}

.loginButtonWrapper{
  margin-top: 30px;
}

.loginButton{
  background-color: #574423;
  color: antiquewhite;
  border-radius: 7px;
  padding: 10px;
  display: block;
  min-width: 100%;
  transition: .3s ease-in-out;
}

.loginButton:hover{
  background-color: hsla(211, 67%, 47%, 0.724);
}

.loginButton:active{
  letter-spacing: 3px;
  background-color: hsla(76, 67%, 47%, 0.724);
}

@media screen and (max-width: 768px){
  .welcomeWrapper{
    /* background-color: red; */
    grid-template-columns: 1fr;
  }

  .loginButtonWrapper{
    margin-bottom: 30px;
  }
}