/* ///////////////////////////////////////////////////////////// logo and nav bar styling */
.mainNavBarLogoContainer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-top: 1rem;
  /* border: 1px solid red; */
  margin: 0 2rem;
}

.logoNavbarWrapper{
  display: flex;
  gap: 5rem;
}

.mainLogo{
  /* border: 1px solid green; */
  padding: .25rem;
  height: 1.75rem;
  margin: auto;
  justify-self: center;
  align-items: center;
}

.mainNavBarListWrapper ul{
  display: flex;
  gap: 1.5rem;
}

.mainNavBarListWrapper ul li{
  transition: .3s ease-in-out;
}

.mainNavBarListWrapper ul> *:hover{
  color: rgb(145, 165, 114);
  letter-spacing: 2px;
  font-weight: bold;
}

.buttonWrapper{
  display: flex;
  gap: .5rem;
}

.buttonWrapper > *{
  border: 1px solid #777;
  padding: 0 .5rem;
  border-radius: .5rem;
}

.registerBtn{
  background-color: hsla(25, 17%, 22%, 0.958);
  color: #fff;
  border: none;
  transition: .3s ease-in-out;
}

.registerBtn:hover{
  background-color: rgb(215, 95, 3);
  box-shadow: rgba(255, 115, 0, 0.4) 0px 5px, rgba(255, 115, 0, 0.3) 0px 10px, rgba(255, 115, 0, 0.2) 0px 15px, rgba(255, 115, 0, 0.1) 0px 20px, rgba(255, 115, 0, 0.05) 0px 25px;
}

.registerBtn:active{
  color: #fff;
  background-color: #52d484;
  border: 1px dotted #fff;
  box-shadow: none;
}

.loginBtn{
  transition: .1s ease-in-out;
}

.loginBtn:hover{
  color: rgb(215, 95, 3);
  border: 1px dotted rgb(145, 165, 114);
  box-shadow: rgba(255, 115, 0, 0.4) 0px 5px, rgba(255, 115, 0, 0.3) 0px 10px, rgba(255, 115, 0, 0.2) 0px 15px, rgba(255, 115, 0, 0.1) 0px 20px, rgba(255, 115, 0, 0.05) 0px 25px;
}

.loginBtn:active{
  color: #fff;
  background-color: #52d484;
  border: 1px dotted #fff;
  box-shadow: none;
}

.dropdownMenu{
  /* font-weight: bold; */
  color: #000000;
  border: none;
  outline: 1px dotted black;
  border-radius: 10px;
  outline: 3px solid double;
  transition: .3s ease-in-out;
  text-align: center;
  width: 5rem;
  display: none;
}

.dropdownMenu:hover{
  background-color: rgb(145, 165, 114);
  color: #fff;
  outline: none;
  border-radius: 10px;
  outline: 3px solid double;
  transition: .3s ease-in-out;
  text-align: center;
  letter-spacing: 3px;
  width: 10rem;
}

@media (min-width: 320px) and (max-width: 768px) {
 .mainNavBarListWrapper{
  display: none;
 }

 .dropdownMenu{
  display: block;
 }
}
