.blogPostContainer {
  border: 1px solid firebrick;
  margin-top: 30px;
  display: flex;
  gap: 1rem;
}

.authorTimeStampContainer a{
  display: block;
  margin-bottom: 0px;
  font-weight: 500;
  cursor: pointer;
}
