.LoginFormConatainer{
    border: 1px solid red;
    display: grid;
    place-content: center;
    min-height: 100svh;
}



.fieldsWrapper{
    display: grid;
    gap: .5rem;
    margin-bottom: 10px;
    border: 1px solid purple;
    display: grid;
}