.blogCardContainer {
  /* border: 1px solid lightseagreen; */
  /* display: grid; */
  margin: auto 3rem;
  /* grid-template-columns: 1fr; */
  /* gap: 1rem; */
}

@media screen and (min-width: 1024px) {
  .blogCardContainer {
    /* border: 1px solid lightseagreen; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 3rem;
    gap: 1.75rem;
  }
}

@media screen and (min-width: 1440px) {
  .blogCardContainer {
    /* border: 1px solid lightseagreen; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 3rem;
    gap: 1.75rem;
  }
}