.blogCardContainer {
  margin: 1.5rem 3rem;
}

@media screen and (min-width: 1024px) {
  .blogCardContainer {
    /* border: 1px solid lightseagreen; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem 3rem;
    gap: 1.75rem;
  }
}

@media screen and (min-width: 1440px) {
  .blogCardContainer {
    /* border: 1px solid lightseagreen; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 3rem;
    gap: 1.75rem;
  }
}