/* opening message styles */
.openingMessageWrapper{
  margin-top: 10px;
  /* border: 1px solid red; */
  display: grid;
  place-content: center;
  padding: 1rem;
}

.openingMessageWrapper h2{
  font-size: 3rem;
  text-align: center;
  line-height: 1.15;
}

.openingMessageWrapper p{
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2.25rem;
}

.welcomeQuoteWrapper{
  /* border: 1px solid green; */
  width: 50rem;
  padding: 1.5rem;
}