.headerContainer {
  margin-top: 30px;
  /* border: 1px solid tomato; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  
}

.navContainer ul {
  display: flex;
  gap: 1.25rem;
  margin-left: 5px;
}

.navContainer a {
    color: inherit;
    transition: .3s ease-in-out;
    /* border: 1px solid navy; */
  }

.navContainer a:hover {
  color: rgb(234, 173, 107);
  font-weight: 500;
}

.titleContainer{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.title {
  font-weight: 500;
  font-size: 1rem;
  transition: .3s ease-in-out;
}

.title:hover {
    letter-spacing: 3px;
    color: rgb(255, 118, 45);
  }
