.headerContainer{
    border: 1px solid tomato;
    display: flex;
    justify-content: space-between;
}

.navContainer ul{
    display: flex;
    gap: 1rem;
}

.navContainer a:hover {
    color: rgb(177, 212, 0);
}

.title {
    font-weight: 300;
    font-size: 1rem;
}