.BlogContentContainer{
  /* border: 1px solid tomato; */
}

.textAreaWrapper{
  margin-top: 10px;
}

.textAreaStyling{
  width: 100%;
  resize: none;
  border: 1px solid #777;
  border-radius: 7px;
  padding: 10px;
}

.titleWrapper{
  display: flex;
  gap: 1rem;
  padding: 0 10px;
}

.titleWrapper > input{
  flex: 1;
}

.inputStyling{
  border: 1px solid #777;
}