.mainContainer {
  min-height: 100svh;
  /* border: 1px solid green; */
}

.mainContainer > h2{
  font-size: 1.75rem;
  margin: 10px 10px 0;
}

.textAreaWrapper {
  margin: 10px;
}

.textAreaStyling {
  width: 100%;
  resize: none;
  border: 1px solid #777;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 10px;
  margin-top: 10px;
}

.inputStyling {
  border: 1px solid #777;
  flex: 1;
  padding: 10px;
  border-radius: 7px;
}

.buttonWrapper {
  margin: 10px;
}

.buttonWrapper > button {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  float: right;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: .3s ease-in-out;
}

.buttonWrapper > button:hover {
  background-color: #9cb92f;
  letter-spacing: 2px;
}