.BlogContentContainer{
  border: 1px solid tomato;
}

.textAreaWrapper{
  margin-top: 10px;
}

.textAreaStyling{
  width: 100%;
  resize: none;
  border: 1px solid #777;
  border-radius: 7px;
  padding: 10px;

}