/* @tailwind base;
@tailwind components;
@tailwind utilities; */

a{
  text-decoration: none;
  color: inherit;
}

.tiptap{
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  min-height: 700px;
  margin-top: 1rem
}

.tiptap .highlighter {
  background-color: rgb(255, 198, 73);
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
