/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


a{
  text-decoration: none;
  color: inherit;
}

.tiptap{
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  min-height: 700px;
  margin-top: 1rem
}

.tiptap .highlighter {
  background-color: rgb(255, 198, 73);
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* make a container to add to each component to make sure margin and padding is consistant */