/* blog posting stying */
.blogPostWrapper{
  /* border: 1px solid lightseagreen; */
}

.blogPostCardContainer{
  border: 1px solid blueviolet;
  margin-bottom: 1rem;
}


.blogImgAndAuthorWrapper{
  /* border: 1px solid coral; */
}

.blogAuthorDateWrapper{
  display: flex;
  gap: .5rem;
  margin: .25rem auto;
}

.blogAuthor{
  font-style: italic;
  font-weight: bold;
}

.dateAndTimeWrapper{
  display: flex;
  gap: .5rem;
}

.blogPostDiscriptionWrapper{
  /* border: solid tomato; */
}